html {
  background-color: #222831;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

img {
  display: block;
  margin: auto;
  border-radius: 50%;
}

h1 {
  color: #b0b0b0;
  text-align: center;
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #888888;
  text-decoration: none;
}
