---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
		<h1>About Me</h1>
		<p>I'm a developer for the world wide web, proficient and passionate about front end development and languages like React, CSS, SaSS, and anythng that brings the pages people interact with to life! This blog acts as a personal and professional journal that documents my journey in development and IT as a whole. </p>
	</body>
</html>
