---
import '../styles/global.css';
const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<style>
		h2 {
			text-align: center;
			color: #B0B0B0;
		}

		p {
			color: #B0B0B0;
		}
		</style>
	</head>
	<body>
	<header>
	<a href="/">Home</a>
	<a href="/blog/">Blog</a>
	</header>
		<img src="src/images/pfp.jpg"/>
		<h1>Woodson Decius</h1>
		<h2>Front-End Web Dev | He who walks the path of Heaven</h2>

		<p>Hey there and welcome to my site. I'm a Front-End Developer currently attending Full Sail University. I'm currently based in Tampa, Florida.</p>
		
	</body>
</html>
